:root {
    --primary-color-1: #ff9625;
    --primary-color-2: #eb6810;
    --link-light-color: #ffe7c0;
    --white-light-color: #ffffff;
    --white-dark-color: #eeeeee;
    --gray-light-color: #f8f8f8;
    --gray-dark-color: #aaaaaa;
    --black-light-color: #333333;
    --black-dark-color: #222222;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.center {
    margin: auto;
}

.fade-in-1s {
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
}

.x1-7 {
    background-color: var(--gray-light-color);
    width: 14.28%;
}

.x6-7 {
    width: 85.71%;
}

.x25 {
    width: 25%;
}

.x50 {
    width: 50%;
}

.x66 {
    width: 66%;
}

.xauto {
    width: auto;
}

a.footer {
    color: var(--link-light-color);
}

a.img {
    padding: 0px 5px 0px 5px;
    text-decoration: none;
}

body {
    color: var(--black-light-color);
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 1em;
    height: 90vh;
    margin: 0;
    padding: 0;
}

footer {
    background: linear-gradient(0deg, var(--primary-color-1) 0%, var(--primary-color-2) 100%);
    color: ghostwhite;
    height: 10vh;
}

h1 {
    font-size: 1.5em;
    margin-bottom: 0%;
}

h2 {
    color: #999999;
    font-size: 1.25em;
    font-style: italic;
    font-weight: 100;
    margin-top: 5%;
}

img.photo {
    border-radius: 50%;
    width: 100%;
}

img.social {
    height: 1.25em;
    width: 1.25em;
}

table {
    height: inherit;
    border-spacing: 0;
    width: 100%;
}

th {
    font-weight: normal;
    padding: 1em;
}

tr {
    height: auto;
    width: 100%;
}