/* Default and Light Mode */

:root {
    --primary-color-1: #ff9625;
    --primary-color-2: #eb6810;
    --link-light-color: #ffe7c0;
    --white-light-color: #ffffff;
    --white-dark-color: #eeeeee;
    --gray-light-color: #f8f8f8;
    --gray-dark-color: #aaaaaa;
    --black-light-color: #333333;
    --black-dark-color: #222222;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

input[type=checkbox] {
    display: none; /* Hide checkboxes */
}

input[type=checkbox]:checked + .label {
    background: linear-gradient(0deg, var(--primary-color-2) 0%, var(--primary-color-1) 100%);
    color: #fff;
}

#text {
    font-size: 1.25em;
}

.center {
    margin: auto;
}

.fade-in-1s {
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
}

.label {
    border: 0px;
    border-radius: 25px;
    display: inline-block;
    font-size: 1.25em;
    padding: 13px 17px 17px 17px;
}

.x1-6 {
    background-color: var(--gray-light-color);
    width: 16.67%;
}

.x4-6 {
    background-image: linear-gradient(to right, grey 1px, transparent 1px), linear-gradient(to bottom, grey 1px, transparent 1px);
    padding: 3em;
    width: 66.67%;
}

.x25 {
    width: 25%;
}

.x50 {
    width: 50%;
}

.x66 {
    width: 66%;
}

.xauto {
    width: auto;
}

a.footer {
    color: var(--link-light-color);
    text-decoration: none;
}

a.footer:hover {
    text-decoration: underline;
}

a.img {
    padding: 0px 5px 0px 5px;
    text-decoration: none;
}

a.link {
    color: var(--primary-color-2);
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a.link:hover {
    text-decoration: underline;
}

body {
    color: var(--black-light-color);
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 1em;
    height: 90vh;
    margin: 0;
    padding: 0;
}

footer {
    background: linear-gradient(0deg, var(--primary-color-1) 0%, var(--primary-color-2) 100%);
    color: ghostwhite;
    font-size: 1.25em;
    height: 10vh;
}

h1 {
    font-size: 2em;
    margin-bottom: 0%;
}

h2 {
    color: var(--gray-dark-color);
    font-size: 1.5em;
    font-style: italic;
    font-weight: 100;
    margin: 5% 0 7% 0;
}

h3 {
    font-size: 1.5em;
    font-weight: normal;
    margin-top: 1%;
}

hr {border: 0;
    height: 1px;
    background-image: linear-gradient(to right, var(--white-light-color), var(--primary-color-1), var(--white-light-color));
}

img.external {
    height: 0.75em;
    width: 0.75em;
}

img.photo {
    border-radius: 50%;
    width: 80%;
}

img.social {
    height: 1.5em;
    width: 1.5em;
}

p {
    line-height: 1.5;
    margin: 0;
}

table {
    height: inherit;
    border-spacing: 0;
    width: 100%;
}

th {
    font-weight: normal;
    padding: 1em;
}

tr {
    height: auto;
    width: 100%;
}
