/* Default and Light Mode */

:root {
    --primary-color-1: rgb(83, 192, 33);
    --primary-color-2: rgb(72, 131, 23);
    --link-light-color: rgb(219, 241, 211);
    --white-light-color: #ffffff;
    --white-dark-color: #eeeeee;
    --gray-light-color: #f8f8f8;
    --gray-dark-color: #aaaaaa;
    --black-light-color: #333333;
    --black-dark-color: #222222;
}

:checked + span.label {
    background-position: left bottom;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

#text {
    font-size: 12px;
}

input[type=checkbox] {
    display: none;
}

.center {
    margin: auto;
}

.fade-in-1s {
    animation: fadeIn 1s;
}

.x1-6 {
    background-color: rgba(0,0,0,0);
    padding: 0;
    width: 16.67%;
}

.x4-6 {
    background-color: var(--white-light-color);
    width: 66.67%;
}

.x25 {
    width: 25%;
}

.x50 {
    width: 50%;
}

.x66 {
    width: 66%;
}

.xauto {
    width: auto;
}

a.footer {
    color: var(--link-light-color);
    text-decoration: none;
}

a.footer:hover {
    text-decoration: underline;
}

a.img {
    padding: 0px 5px 0px 5px;
    text-decoration: none;
}

a.link {
    color: var(--primary-color-2);
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a.link:hover {
    text-decoration: underline;
}

body {
    background-image: url("../assets/photo/bg.jpg");
    background-position: absolute;
    background-size: cover;
    color: var(--black-light-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    height: 100vh;
    margin: 0;
    padding: 0;
}

div.vertical-center {
    position: absolute;
    left: 50%;
    top: 45%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

footer {
    background: var(--primary-color-2);
    color: ghostwhite;
    font-size: 12px;
    height: 5vh;
}

h1 {
    color: var(--black-dark-color);
    font-family: 'Times New Roman', Times, serif;
    font-size: 48px;
    font-style: italic;
    letter-spacing: 0.25em;
    transform: scaleY(2);
}

h2 {
    color: var(--white-light-color);
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 5%;
    transform: scaleY(2);
}

h3 {
    color: var(--white-light-color);
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bold;
    margin-top: 6%;
    transform: scaleY(1.5);
}

h3.content {
    color: var(--ink-color);
    font-weight: bold;
}

img.external {
    height: 0.75em;
    width: 0.75em;
}

img.photo {
    border-radius: 50%;
    width: 80%;
}

img.social {
    height: 18px;
    width: auto;
}

p {
    line-height: 1.5;
    margin: 0;
    text-align: left;
}

span.label {
    background: linear-gradient(to right, rgb(253, 255, 120) 50%, rgba(0,0,0,0) 50%);
    background-size: 200% 100%;
    background-position:right bottom;
    border: 0px;
    display: inline-block;
    font-size: 12px;
    padding: 5px 10px 5px 10px;
    transition: all 1s ease;
}

table {
    height: inherit;
    border-spacing: 0;
    width: 100%;
}

th {
    font-weight: normal;
    text-align: center;
}

tr {
    height: auto;
    width: 100%;
}
